.from-blue-50 {
    --tw-gradient-from: #eff6ff var(--tw-gradient-from-position);
    --tw-gradient-from: #03143ce0 var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(35 2 52 / 98%) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}