@tailwind base;
@tailwind components;
@tailwind utilities;


.from-blue-50 {
    --tw-gradient-from: #eff6ff var(--tw-gradient-from-position);
    --tw-gradient-from: #000000d4 var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(239 246 255 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.via-white {
    --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), #fff var(--tw-gradient-via-position), var(--tw-gradient-to)
    --tw-gradient-stops: var(--tw-gradient-from), #042575 var(--tw-gradient-via-position), var(--tw-gradient-to);
}

.to-blue-50 {
    --tw-gradient-to: #eff6ff var(--tw-gradient-to-position)
    --tw-gradient-to: #000409 var(--tw-gradient-to-position);
}
